// THEME COLORS
$primary: #444732 !default;
$secondary: #dd9876 !default;
$white: #fff !default;
$black: #171717 !default;
$almond: #edd1c5 !default;
$vista-white: #f8f2ee !default;

// SPACING
$base-padding: 0.75rem !default;
$base-margin: 0.75rem !default;

// FONT FAMILY
$font-family-futura: 'FuturaLT', sans-serif !default;
$font-family-freight: 'FreightDispProLight-Regular', serif !default;
$font-family-freight-italic: 'FreightDispProLight-Italic', serif !default;

// FONT SIZE
$base-font-size: 1rem !default;
