@use 'abstracts' as *;

/* PACKAGES */
.packages {
  display: grid;
  grid-template-columns: none;
  column-gap: $base-margin * 4;

  @include lg {
    grid-template-columns: 65% auto;
    column-gap: $base-margin * 3;
  }

  @include xl {
    grid-template-columns: 70% auto;
  }

  .section__title {
    border-bottom: 1px solid $secondary;
  }

  &__content {
    margin-bottom: $base-margin * 5;
    order: 1;

    @include lg {
      margin-bottom: 0;
      order: 2;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: none;
    grid-auto-rows: minmax(100px, auto);
    gap: $base-margin * 2.5;
    margin-right: 0;
    order: 2;

    @include lg {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: minmax(75px, auto);
      margin-right: $base-margin * 5;
      order: 1;
    }

    @include xl {
      margin-right: $base-margin * 8;
    }
  }

  &__item {
    padding: $base-padding * 3;

    @include xl {
      padding: $base-padding * 6 $base-padding * 3;
    }

    &:first-child {
      order: 1;
    }

    &:nth-child(2) {
      order: 2;
    }

    &:nth-child(3) {
      order: 4;

      @include lg {
        order: 3;
      }
    }

    &:last-child {
      order: 3;

      @include lg {
        order: 4;
      }
    }

    &--primary {
      background-color: $primary;
    }

    &--secondary {
      background-color: $secondary;
    }

    &--img1, &--img2 {
      background-size: cover;
      background-repeat: no-repeat;
      grid-row: span 2;
    }

    &--img1 {
      background-image: url(/assets/images/image-2.jpg);
      background-position: center;
    }

    &--img2 {
      background-image: url(/assets/images/image-3.jpg);
      background-position: top;
    }

    p {
      font-family: $font-family-freight-italic;
      font-size: $base-font-size * 2;
      line-height: $base-font-size * 2;
      color: $vista-white;
      margin-bottom: $base-margin;

      @include lg {
        font-size: $base-font-size * 2.5;
        line-height: $base-font-size * 2.5;
      }
    }

    a {
      color: $vista-white;
      font-size: calc(#{$base-font-size} - 7px);
      font-weight: bold;
      letter-spacing: 3px;
      padding-bottom: calc(#{$base-padding} - 10px);
      text-transform: uppercase;
    }
  }

  &__btn--primary {
    border-bottom: 1px solid lighten($primary, 5);

    &:hover {
      color: $secondary;
    }
  }

  &__btn--secondary {
    border-bottom: 1px solid lighten($secondary, 5);

    &:hover {
      color: $primary;
    }
  }
}

.bg-vista-white {
  background-color: $vista-white;

  .container {
    padding-left: 0;
    padding-right: 0;
  }
}